#about{
    background-color: rgb(203, 203, 243);
    margin-top: 2%; margin-left: 10%; margin-right: 10%;
    text-align: center;
    padding: 1% 2% 1% 2%;
}
#more{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}