*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.services-section{
   background: url(./images/background.jpg); 
   background-attachment: fixed;
   background-size:cover;
   padding: 150px 0; 
   text-align: center;
}
.topNav{padding: 0;
    background: #679bb3;
    box-shadow: 0 0 3px #B1AFAF;
    width: 100%;
  }
.topNav a{color:#333; 
    font-size: 30px; font-weight:bold;
     display:inline-block;  
     padding:9px 7px;
    text-decoration: none;
    }
.topNav a:hover, .topNav a.active{color:#fff;
   background:#3e2b4b; 
   text-decoration:none;
  
  }

.alignR{text-align: left;}
slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;

}
.section-title{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 30px;

}
.border{
    width: 150px;
    height: 4px;
    background: #82ccdd;
    margin: 40px auto;


}
#gallery{
    margin-bottom: 30px;
    
    
    justify-content: center;
    align-items: center;
    color: #F15A29;
    background-color: white;
    
    height: 45px;
    width: 150px;
    margin-top: 20px;
    
    font-weight: 700;

}


.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.service-box{
    max-width: 33.33% ;
    padding: 10px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid grey;
    color: black;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;

}
.service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;

}
.service-box:hover  .service-icon{
    background: black;
    color: #ddd;
}
.service-title{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:  black;
    

}
.service-title:hover{
    color: #82ccdd; 

}
.section-desc{
    font-size: 34px;
}




.contact-section{
    background: gray;
    background-size: cover;
    padding: 40px 0;
}

.contact-section h1{
    text-align: center;
    color: #ddd;

}
.border{
    width: 150px;
    height: 20px;
    background: bisque;
   

}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;


}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #343434 ;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
}

.contact-form-btn:hover{
    background: blue;
}




 .fa {
    padding: 20px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline;
    padding: 40px;
    margin-top: 20px;

  }
  
  
  .fa:hover {
    color: blue;
  }
  .footer{
    border-top: 0px solid black;
    text-align: center;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: white;

}
.footer p{
margin-bottom: 20px;
}